{% load static %}
<!-- HOME -->
<div id="home">
    <!-- container -->
    <div class="container">
        <!-- home wrap -->
        <div class="home-wrap">
            <!-- home slick -->
            <div id="home-slick">

                {% for image in slider_image %}
                <!-- banner -->
                <div class="banner banner-1">
                    <img src="{{image.imageURL}}" alt="Slider Image">
                    <div class="banner-caption text-center">
                        <h1>{{image.title}}</h1>
                        <h3 class="white-color font-weak">{{image.offer}}</h3>
                        <button class="primary-btn">Shop Now</button>
                    </div>
                </div>
                <!-- /banner -->
                {% endfor %}


            </div>
            <!-- /home slick -->
        </div>
        <!-- /home wrap -->
    </div>
    <!-- /container -->
</div>
<!-- /HOME -->